<p>dialogo-profesores works!</p>

<!-- <p>dialog works!</p> -->
<h1 mat-dialog-title> Formulario de registro de profesores </h1>
<div mat-dialog-content>
    <!-- Modal de alumnos -->
    <!-- productForm"> -->
    <form [formGroup]="formularioRegistroProfesores">

        <!-- Ver form field en Angular Material -->
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido paterno</mat-label>
            <input formControlName="apellidoPaterno" matInput placeholder="Apellido paterno">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido materno</mat-label>
            <input formControlName="apellidoMaterno" matInput placeholder="Apellido materno">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Número de contacto</mat-label>
            <input formControlName="noContacto" matInput placeholder="Número de contacto">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        
        <mat-radio-group formControlName="genero" aria-label="Seleccione" class="example-radio-group">
            <mat-radio-button *ngFor="let genero of listaGeneros" [value]="genero" class="example-radio-button">{{genero}}
            </mat-radio-button>
        </mat-radio-group>
        
        <!--  -->
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="addProfesor()">{{actionBtn}}</button>
</div>