<!-- <p>navbar works!</p> -->
<mat-toolbar color="primary">
  <span>app cursos 🤓</span>
  <span class="example-spacer"></span>
  
  <button mat-button routerLink="cursos">Cursos</button>
  <button mat-button routerLink="alumnos">Alumnos</button>
  <button mat-button routerLink="profesores">Profesores</button>

  <!-- <button mat-button routerLink="/dashboard/reportes">Reportes</button> -->
  <!-- <button mat-button >Reportes</button> -->

  <span class="example-spacer"></span>
  <!-- <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
  </button> -->
</mat-toolbar>

<h1>Hola mundo</h1>
<router-outlet></router-outlet>
